@use "../../common/mixin" as *;
@use "../../common/presets/variables" as *;

.my-photo {
    width: 100%;
    height: 100%;
    background-image: url("../img/andriy_main.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%) saturate(10%) contrast(110%) brightness(115%);
    @include md-min {
        min-height: unset;
    }
    @include lg-md {
        min-height: 800px;
    }
    @include md-sm {
        min-height: 650px;
    }
    @include sm-xs {
        min-height: 500px;
    }
    @include xs {
        min-height: 350px;
    }
}
