@use "../../common/mixin" as *;
@use "../../common/presets/variables" as *;

.section-projects {
    display: grid;
    grid-template-columns: 1fr;
    height: unset;
    gap: $gap-x2;
}

.project {
    display: flex;
    flex-direction: column;
    max-height: 300px;

    padding: $gap;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.1);
    border-radius: 1rem;
    @include xs {
        font-size: 0.825em;
    }
    &-heading {
        display: grid;
        gap: $gap-lg;

        &-text {
            font-weight: 400;
            margin: 0;
        }
        &-avatar {
            margin: 0;
            img {
                object-fit: contain;
                width: 100%;
                border-radius: 1rem;
                margin: auto;
            }
        }
        @include xs-min {
            grid-template-columns: 1fr 96px;
        }
        @include xs-xx {
            grid-template-columns: 1fr 64px;
        }
        @include xx {
            grid-template-columns: 1fr 48px;
        }
    }
    &-decription {
        margin: $gap-lg 0;
    }
    &-stats {
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        justify-content: center;
        margin-top: auto;
        list-style: none;

        li {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            grid-template-areas:
                "img num"
                "img txt";
            justify-content: start;
            width: 100%;

            i {
                position: relative;
                grid-area: img;
                font-size: 2em;
                &::before {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    padding-right: $gap-sm;
                }
            }
            span {
                :first-of-type {
                    grid-area: num;
                }
                :last-of-type {
                    grid-area: txt;
                    text-align: center;
                }
            }
            @include xs-min {
                font-size: 0.825rem;
                padding: 0 $gap-sm;
            }
            @include xs-xx {
                font-size: 0.625rem;
                padding: 0 calc($gap-sm * 0.75);
            }
            @include xx {
                font-size: 0.5rem;
                padding: 0 calc($gap-sm * 0.5);
            }
        }
    }
}
