@use "../../common/mixin" as *;
@use "../../common/presets/variables" as *;

main {
    .container {
        display: grid;
        gap: $gap-x4;
        &:first-of-type {
            padding-top: $gap-x5;
            min-height: 100vh;
        }
        @include lg-min {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
        @include lg {
            grid-template-columns: 1fr;
        }
    }
}
section {
    @include xs-min {
        font-size: 1.125rem;
    }
    @include xs {
        font-size: 0.725rem;
    }
}
