@use "../../common/mixin" as *;
@use "../../common/presets/variables" as *;

.section-about {
    display: flex;
    flex-direction: column;

    @include lg {
        max-height: calc(100vh - $gap-x6);
    }
}
.about {
    height: 100%;
    &__info {
        display: flex;
        flex-direction: column;
    }
    &__list {
        padding-inline-start: 1em;
        li {
            i {
                margin-right: 0.25em;
            }
            &::marker {
                content: "";
            }
        }
    }
    &__social {
        @media (min-height: 900px) {
            margin-top: 380px;
        }
        @media (max-height: calc(900px - 0.2px)) {
            margin-top: auto;
        }
    }
}
.my-name {
    font-weight: 800;
    @include sm-min {
        font-size: 2.5rem;
    }
    @include sm {
        font-size: 1.85rem;
    }
}
