@use "../common/mixin" as *;
@use "../common/presets" as *;

header {
    background-color: $color-bg;
    font-size: 1.125rem;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .container {
        display: flex;
        justify-content: space-between;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & span {
            margin-left: auto;
        }
        @include sm-min {
            font-size: 1.125rem;
        }
        @include sm-xs {
            font-size: 1rem;
        }
        @include xs {
            font-size: 0.875rem;
        }
    }
}
