@use "../common/mixin" as *;
@use "../common/presets" as *;

header {
    background-color: $color-bg;
    font-size: 1.125rem;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        & span {
            margin-left: auto;
        }
    }

    @include sm-min {
        font-size: 1.125rem;
    }
    @include sm {
        font-size: 1rem;
    }
}
