@use "../common/presets" as *;

.logo {
    &__d-otline {
        fill: $color-primary;
    }
    &__a-otline {
        fill: $color-primary;
    }
    &__accent {
        fill: $color-accent;
    }
    svg:hover {
        .logo__d-otline {
            fill: $color-accent;
        }
        .logo__a-otline {
            fill: $color-accent;
        }
        .logo__accent {
            fill: $color-primary;
        }
    }
}
