@use "../common/mixin" as *;
@use "../common/presets/variables" as *;

main {
    .container {
        display: grid;
        gap: $gap-x4;
        &:first-of-type {
            padding-top: $gap-x5;
            @media (min-height: 1000px) {
                height: 100vh;
                max-height: 1000px;
            }
            @media (max-height: calc(1000px - 0.2px)) {
                min-height: 100vh;
            }
        }
        @include lg-min {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
        @include lg {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
        }
    }
}

.section {
    &--about {
        display: flex;
        flex-direction: column;
        .about {
            height: 100%;
            &__info {
                display: flex;
                flex-direction: column;
            }
            &__list {
                padding-inline-start: 1em;
                li {
                    i {
                        margin-right: 0.25em;
                    }
                    &::marker {
                        content: "";
                    }
                }
            }
            &__social {
                margin-top: auto;
                div i {
                    margin-right: 0.25em;
                }
            }
        }
        .my-name {
            font-weight: 800;
            @include sm-min {
                font-size: 2.5rem;
            }
            @include sm {
                font-size: 1.85rem;
            }
        }
    }
    .my-photo {
        width: 100%;
        height: 100%;
        background-image: url("../img/andriy_main.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: grayscale(100%) saturate(10%) contrast(110%) brightness(115%);
        @include md-min {
            min-height: unset;
        }
        @include lg-md {
            min-height: 800px;
        }
        @include md-sm {
            min-height: 650px;
        }
        @include sm-xs {
            min-height: 500px;
        }
        @include xs {
            min-height: 350px;
        }
    }
    @include sm-min {
        font-size: 1.125rem;
    }
    @include sm {
        font-size: 0.725rem;
    }
    @include lg {
        max-height: calc(100vh - $gap-x5 - $gap);
    }
}
