@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

:root {
  --dark-10: rgba(#000000, 0.1);
}

.dark {
  --color-primary: #ffffff;
  --bg-color-primary: #252525;
  --accent: #dc143c;
}

.light {
  --color-primary: #000000;
  --bg-color-primary: #ffffff;
  --accent: #dc143c;
}

/* ul */
/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: var(--color-primary);
  background-color: var(--bg-color-primary);
  font-size: 16px;
  font-family: "Quantico", "Oswald", sans-serif;
  text-transform: uppercase;
}

.no-caps {
  text-transform: none;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

a,
span,
path,
li,
body {
  -webkit-transition: color 240ms, fill 240ms, background-color 600ms;
  -o-transition: color 240ms, fill 240ms, background-color 600ms;
  transition: color 240ms, fill 240ms, background-color 600ms;
}

header {
  -webkit-transition: background-color 600ms;
  -o-transition: background-color 600ms;
  transition: background-color 600ms;
}

a:hover {
  color: var(--accent);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.icon {
  margin-right: 0.25em;
}

.bold {
  font-weight: 800;
}

header {
  background-color: var(--bg-color-primary);
  font-size: 1.125rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
header .contact span {
  margin-left: auto;
}

.logo__d-otline {
  fill: var(--color-primary);
}
.logo__a-otline {
  fill: var(--color-primary);
}
.logo__accent {
  fill: var(--accent);
}
.logo svg:hover .logo__d-otline {
  fill: var(--accent);
}
.logo svg:hover .logo__a-otline {
  fill: var(--accent);
}
.logo svg:hover .logo__accent {
  fill: var(--color-primary);
}

main .container {
  display: grid;
  gap: 80px;
}
main .container:first-of-type {
  padding-top: 100px;
}

.section-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about {
  height: 100%;
}
.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__list {
  -webkit-padding-start: 1em;
          padding-inline-start: 1em;
}
.about__list li i {
  margin-right: 0.25em;
}
.about__list li::marker {
  content: "";
}
.about__social {
  margin-top: auto;
}

.my-name {
  font-weight: 800;
}

.my-photo {
  width: 100%;
  height: 100%;
  background-image: url("../img/andriy_main.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%) saturate(10%) contrast(110%) brightness(115%);
          filter: grayscale(100%) saturate(10%) contrast(110%) brightness(115%);
}

.section-skills p {
  font-size: 1.125rem;
}

@media (min-width: 576px) {
  header {
    font-size: 1.125rem;
  }
  .section-about {
    font-size: 1.125rem;
  }
  .my-name {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .my-photo {
    min-height: unset;
  }
}

@media (min-height: 900px) {
  main .container:first-of-type {
    height: 100vh;
    max-height: 900px;
  }
}

@media (min-width: 992px) {
  main .container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

@media (max-height: 999.8px) {
  main .container:first-of-type {
    min-height: 100vh;
  }
}

@media (max-width: 991.8px) {
  main .container {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .section-about {
    max-height: calc(100vh - 120px);
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  .my-photo {
    min-height: 800px;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  .my-photo {
    min-height: 650px;
  }
}

@media (max-width: 575.8px) {
  header {
    font-size: 1rem;
  }
  .section-about {
    font-size: 0.725rem;
  }
  .my-name {
    font-size: 1.85rem;
  }
}

@media (max-width: 575.8px) and (min-width: 432px) {
  .my-photo {
    min-height: 500px;
  }
}

@media (max-width: 431.8px) {
  .my-photo {
    min-height: 350px;
  }
}