@use "./mixin" as *;
@use "./presets" as *;

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: $color-primary;
    background-color: $color-bg;
    font-size: $font-size;
    font-family: $font-main;
    text-transform: uppercase;
}

.no-caps {
    text-transform: none;
}
a {
    text-decoration: none;
    color: $color-primary;
}
a,
span,
path,
li,
body {
    transition: color $transiton-speed * 0.4, fill $transiton-speed * 0.4,
        background-color $transiton-speed;
}
header {
    transition: background-color $transiton-speed;
}
a:hover {
    color: $color-accent;
}
